<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="juanpomares.persistencia.mastermoviles.contentProvider">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="juanpomares.persistencia.mastermoviles.contentProvider.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="juanpomares.persistencia.mastermoviles.contentProvider.UsuarioRegistrado" />
        <activity android:name="juanpomares.persistencia.mastermoviles.contentProvider.GestionUsuarios" />
        <activity android:name="juanpomares.persistencia.mastermoviles.contentProvider.NuevoUsuario" />
        <activity android:name="juanpomares.persistencia.mastermoviles.contentProvider.ActualizarUsuario" />
        <activity android:name="juanpomares.persistencia.mastermoviles.contentProvider.PreferencesActivity" />
        <activity android:name="juanpomares.persistencia.mastermoviles.contentProvider.BuscarSMS"></activity>
    </application>

</manifest>
