<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Bullet_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Bullet_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Bullet_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Bullet_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2048,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Bullet_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2304,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Coin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2560,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Coin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2816,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Coin3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Coin4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Coin5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Coin6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2048,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>explosion_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2304,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>explosion_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2560,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>explosion_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2816,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>explosion_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3072,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>explosion_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3328,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>explosion_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{3584,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>fireball_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3840,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>fireball_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1024},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>fireball_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1024},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>fireball_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>fireball_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>fuego1.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,768},{128,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,512}</string>
			</dict>
			<key>fuego2.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,768},{128,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,512}</string>
			</dict>
			<key>fuego3.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,768},{128,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,512}</string>
			</dict>
			<key>fuego4.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,768},{128,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,512}</string>
			</dict>
			<key>fuego5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,1024},{128,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,512}</string>
			</dict>
			<key>fuego6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1152,1024},{128,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,512}</string>
			</dict>
			<key>fuego7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,1024},{128,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,512}</string>
			</dict>
			<key>fuego8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2688,1024},{128,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,512}</string>
			</dict>
			<key>medalla0-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>medalla1-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>medalla2-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2048,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>medalla3-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2304,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>medalla0-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2560,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>medalla1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2816,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>medalla2-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3072,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>medalla3-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3328,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>medalla0-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3584,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>medalla1-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3840,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>medalla2-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1280},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>medalla3-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1280},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>medalla0-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1280},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>medalla1-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,1280},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>medalla2-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,1024},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>medalla3-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,1024},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>mina.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,1024},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>mina2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2176,1024},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Muzzle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,0},{512,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,256}</string>
			</dict>
			<key>Muzzle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,0},{512,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,256}</string>
			</dict>
			<key>Muzzle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,0},{512,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,256}</string>
			</dict>
			<key>Muzzle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2048,0},{512,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,256}</string>
			</dict>
			<key>Muzzle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2560,0},{512,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,256}</string>
			</dict>
			<key>Pinchos.png</key>
			<dict>
				<key>frame</key>
				<string>{{2432,1024},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>portal_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{3072,0},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>portal_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3328,0},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>portal_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3584,0},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>portal_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3840,0},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>portal_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,256},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>portal_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,512},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>portal_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,512},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>portal_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,256},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>portal_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,256},{256,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,512}</string>
			</dict>
			<key>Saw.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Objetos.png</string>
			<key>realTextureFileName</key>
			<string>Objetos.png</string>
			<key>size</key>
			<string>{4096,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>